<ul>
  <li>
    <a ui-sref='home' ui-sref-active='active'>
      Home
    </a>
  </li>
  <li>
    <a ui-sref='services' ui-sref-active='active'>
      Services ({{ serviceCount() }})
    </a>
  </li>
  <li ng-if='!user.id'>
    <a ui-sref='login' ui-sref-active='active'>
      Login
    </a>
  </li>
  <li ng-if='user.id'>
    <a ui-sref='appointments' ui-sref-active='active'>
      Appointments
    </a>
  </li>
  <li ng-if='user.id' ng-click='logout()'>
    <a href='#'>
    Logout
    </a>
  </li>
</ul>
